<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start" color="light"></ion-back-button>
    <ion-title>Change Password</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="update()">
      Done
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item style="margin-top: 20px;">

    <ion-input placeholder="Current Password" type="password" [(ngModel)]="pass.old" name="old"></ion-input>
  </ion-item>

  <ion-item style="margin-top: 20px;">

    <ion-input placeholder="New Password" type="password" inputmode="password" [(ngModel)]="pass.new" name="new">
    </ion-input>
  </ion-item>

  <ion-item style="margin-top: 20px;">

    <ion-input placeholder="Re type password" type="password" inputmode="password" [(ngModel)]="pass.renew"
      name="renew">
    </ion-input>
  </ion-item>







</ion-content>
