<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button color="light" slot="start"></ion-back-button>
    <ion-title>Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-page" id="ion-page">
    <div class="flex">
      <ion-img src="../../assets//icon/shopping-bag.png" style="width: 120px;"></ion-img>
      <ion-text>
        <h1>Order Placed 😀</h1>
      </ion-text>
      <ion-button (click)="myorders()" color="primary" expand="block" fill="solid">Go to My Orders</ion-button>
    </div>
  </div>
</ion-content>
