.content {
  background-color: #ade8f4;
  padding: 12px;

  ion-img {
    height: 120px;
    width: 100%;
    object-fit: contain;
  }

  ion-label {
    .price {
      color: #3880ff;
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 8px;
    }
  }



}

.cta {
  background-color: #ffc409;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
