<ion-content class="ion-padding">
  <div class="flex">
    <ion-img src="https://thedailyplanet.app/images/bescrow.png"></ion-img>
    <ion-label>
      <h2>Login in to Buyandsell</h2>
      <p>Don't have an account? <ion-text (click)="signup()" color="danger">Sign Up</ion-text></p>
    </ion-label>

    <ion-item style="margin-top: 20px;">

      <ion-input placeholder="Email"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;">

      <ion-input placeholder="Password"></ion-input>
    </ion-item>

    <ion-button (click)="login()" color="primary" expand="block">Login</ion-button>

    <ion-label>
      <ion-button fill="clear" color="dark">Forgot password?</ion-button>
    </ion-label>
  </div>



</ion-content>
