.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

ion-img::part(image) {
  height: 120px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
