<ion-header #header>
  <ion-toolbar color="primary">
    <ion-title>
      Buyandsell
    </ion-title>
    <!-- <ion-button slot="end">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="light" debounce="500"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollEvents="true" (ionScroll)='onContentScroll($event)'>
  <!-- <ion-header collapse="condense" color="primary">
    <ion-toolbar color="primary">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>

  </ion-header> -->

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
