<ion-header #header>
  <ion-toolbar color="primary">
    <ion-thumbnail slot="start">
      <ion-img src="https://thedailyplanet.app/images/bescrow.png"></ion-img>
    </ion-thumbnail>
    <ion-title *ngIf="whichPlatform == 'iphone'" size="large" style="margin-left: 40px; margin-top: -2px;">
      Buyandsell
    </ion-title>
    <ion-title *ngIf="whichPlatform != 'iphone'" size="large" style="margin-left: -10px; margin-top: -2px;">
      Buyandsell
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()" fill="clear" color="light">
        <ion-icon size="large" slot="" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
    <ion-searchbar color="light" debounce="500"></ion-searchbar>
  </ion-toolbar> -->
  <!-- <app-slidingcategory></app-slidingcategory> -->
  <ion-toolbar color="secondary">
    <ion-slides pager="false" scrollbar="true" [options]="slideOpts">

      <ion-slide *ngFor="let category of categories" (click)="product_list(category.cate_id, category.cate_title)">

        <ion-label>
          <ion-icon *ngIf="category.cate_img != 'none'" size="large" name="{{ category.cate_img }}">
          </ion-icon>
          <!-- <p>{{ category.cate_title }}</p> -->
        </ion-label>

      </ion-slide>

    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollEvents="true" (ionScroll)='onContentScroll($event)'>



  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
