<ion-content class="ion-padding">
  <div class="flex">
    <ion-img src="https://thedailyplanet.app/images/bescrow.png"></ion-img>
    <ion-label>
      <h2>Sign Up in to Buyandsell</h2>
      <p>Already have an account? <ion-text (click)="login()" color="danger">Login</ion-text></p>
    </ion-label>

    <ion-item style="margin-top: 20px;">

      <ion-input placeholder="Full Name"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;">

      <ion-input placeholder="Email"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;">

      <ion-input placeholder="Password"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;">

      <ion-input placeholder="Re-type Password"></ion-input>
    </ion-item>

    <ion-item>

      <ion-checkbox checked="true" color="danger" style="margin-top: 20px;"></ion-checkbox> <span style="margin-top: 7px;"></span>
      <ion-label class="ion-text-wrap">By signing up, I affirm that I have read and agree to the Terms & Conditions</ion-label>

    </ion-item>



    <ion-button color="primary" expand="block">Create my account</ion-button>

    <!-- <ion-label>
      <ion-button fill="clear" color="dark">Back to login</ion-button>
    </ion-label> -->
  </div>



</ion-content>
