ion-content {
  ion-img::part(image) {
    border-radius: 10px;
  }

  ion-img {
    height: 120px;
    width: 100%;
    object-fit: contain;
  }

  ion-label {
    .price {
      color: #3880ff;
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 8px;
    }
  }
}
